<tr>
  <td><%= label :role, :name, "Name"%></td>
  <td><%= text_field_tag 'role_name', @role.name %></td>
</tr>

<tr>
  <td style="vertical-align:text-top;"><%= label :role, :domain_type, "Domain Type" %></td>
  <td><%= select :role, :domain_type, Role::DOMAIN_TYPES %></td>
</tr>

<tr>
  <td>
    <%= label :role, :manages_role_ids, "Manages users with roles" %>
  </td>
  <td>
    <%= label :role, :role_manager_ids, "Managed by users with roles" %>
  </td>
</tr>

<tr>
  <td>
    <%= select :role, :manage_ids,
        all_roles_grouped_by_domain_type.select{|r| r.id != @role.id}.collect{|r| [r.name, r.id]},
        {}, {:multiple => true, :size => [all_roles.size, 12].min} %>
  </td>
  <td>
    <%= select :role, :manager_ids,
        all_roles_grouped_by_domain_type.collect{|r| [r.name, r.id]},
        {}, {:multiple => true, :size => [all_roles.size, 12].min} %>
  </td>
</tr>
