<tfoot>
  <tr>
    <td colspan="<%= @index_columns %>">
      <br/>
      <%= form_for Role.new, :remote => true do |f| %>
        <%= f.text_field :name, :maxlength => 31, :size => 12 %>
        &nbsp;&nbsp;&nbsp;
        <%= f.submit 'create role', :class => 'fncyBtn' %>
      <%- end %>
    </td>
  </tr>
  <tr><td colspan="<%= @index_columns %>" id='add_errors'></td></tr>
</tfoot>
